.characters-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}